body {
    background-color: #e0e0e07e;
}

.container-game {
    padding: 15px;
    background-color: #fdfdfd;
    margin: auto;
}

.fightarea {
    display: flex;
    gap: 20px;
}

.fighter-container {
    position: relative;
}

.fighter-container img {
    height: 280px;
    width: 290px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 40px;
}

.fighter-container.attack-animation {
    animation: attackBlink 0.6s ease-out;
}

@keyframes attackBlink {
    0%, 50%, 100% {
        background-color: transparent;
    }
    25%, 75% {
        background: linear-gradient(#ff8801, #ff5100, #ff3c00);
    }
}


#char, #monster {
    flex: 1;
}

.name,
.attackbutton {
    position:relative;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.attackbutton:hover {
    position:relative;
    display: flex;
    justify-content: space-around;
    margin: auto;
    background-color: #88ffac;
    border-color: #04b840;
    border-radius: 4px;
}

.name {
    justify-content: space-between;
}

.lifebar {
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.lifebar .bar {
    height: inherit;
    background-color: red;
    border-radius: 5px;
}

.log {
    background-color: #b8ffa760;
    border: 1px dotted #999;
    height: 200px;
    overflow-y: scroll;
}

span {
    font-size: 30px;
    border-radius: 50%;
    background-color: rgba(255, 115, 0, 0.685);
    margin-right: 5px;
}

.attackbutton:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}


.winner-message {
    height: 30px;
    position: relative;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    animation: winner-message 1s ease-out;
}

.character-image {
    position: relative;
}

.character-image.dead {
    opacity: 0.5; /* ou o valor desejado para a opacidade */
    transition: opacity 0.5s ease; /* adicione uma transição suave para a opacidade */
}

@keyframes winner-message {
    0%, 50%, 100% {
        background-color: transparent;
    }
    25%, 75% {
        background: #0fe066;
    }
}

