body {
    background-color: #0d0b1a;
}

.container-game {
    padding: 15px;
    background-color: #fdfdfd;
    margin: auto;
}

.fightarea {
    display: flex;
    gap: 20px;
}

.fighter-container {
    position: relative;
}

.fighter-container img {
    height: 280px;
    width: 290px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 40px;
}

.fighter-container.attack-animation {
    animation: attackBlink 0.6s ease-out;
}

@keyframes attackBlink {
    0%, 50%, 100% {
        background-color: transparent;
    }
    25%, 75% {
        background: linear-gradient(#ff8801, #ff5100, #ff3c00);
    }
}


#char, #monster {
    flex: 1;
}

.name,
.attackbutton {
    position:relative;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.name {
    justify-content: space-between;
}

.lifebar {
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.lifebar .bar {
    height: inherit;
    background-color: red;
    border-radius: 5px;
}

.log {
    background-color: #7e7e7e60;
    border: 1px dotted #999;
    height: 200px;
    overflow-y: scroll;
}

span {
    font-size: 30px;
}

.attackbutton:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}


.winner-message {
    height: 30px;
    position: relative;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    animation: winner-message 1s ease-out;
}


@keyframes winner-message {
    0%, 50%, 100% {
        background-color: transparent;
    }
    25%, 75% {
        background: #0fe066;
    }
}

